.content-planos {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.container-planos {
  width: 74%;
  height: 100%;
  margin-right: -8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.container-planos h2 {
  margin-top: 30px;
  font-size: 40px;
  color: green;
}

.planos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  gap: 10px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.planos::-webkit-scrollbar {
  display: none;
}

.plano {
  min-width: 170px;
  min-height:  220px;
  width: 170px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
  transition: all 1s ease;
}

.plano:hover {
  border-radius: 20%;
}

.planos h3 {
  width: 100px;
  height: 100px;
  color: #42567a;
  border: 2px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
.planos p{
  color: #42567a;
  font-family: 'Montserrat', sans-serif;

}

.container-planos ul {
  overflow: hidden;
  margin-top: 5rem;
}

.contant-planos > span, p, li {
  color: #42567a;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}

.obs {
  width: 90%;
  margin-top: 3rem;
  font-size: 15px;
  font-weight: 400;
}

.plano button {
  overflow: hidden;
  padding: 3px;
  margin-top: 10px;
  border-radius: 10px;
  background: none;
  border: 1px solid #42567a
}

.plano button a{
  color: #42567a;
  font-weight: 600;
}

.plano button a:hover {
  color: #fff;
}

.plano button:hover {
  background-color: #42567a;
}

.plano0 {
    display: none;
}

@media screen and (max-width: 991px) {
  .container-planos {
    width: 100vw;
    margin: 10px 0;
  }

  .container-planos h2 {
    font-size: 20px;
  }
 
  .plano0{
    display: block;
    margin-left: 8rem;
  }
  .container-planos ul {
    padding: 10px;
  }
}

@media screen and (max-width: 768px){
  .plano0 {
    margin-left: 12rem;
  }
}
@media screen and (max-width: 580px),(max-height: 500px){
  .plano0 {
    margin-left: 25rem;
  }  
}

@media screen and (max-width: 480px){
  .plano0 {
    margin-left: 33rem;
  }
}

@media screen and (max-height: 500px){
  .content-planos {
    height: auto;
  }

  .plano0{
    margin-left: 5rem;
  }
  
  .container-planos ul {
    padding: 0;
    margin: 0;
  }

  .obs {
    margin: 0;
  }
  
}