* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: all ease 1s;
  color: $branco;
  font-weight: bold;
  font-family: $titulos;
}

*::-webkit-scrollbar {
  display: none;
}

body a {
  list-style: none;
  text-decoration: none;
  color: $branco;
}

.login {
  position: absolute;
  color: $branco;
  top: 10px;
  right: 150px;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: $titulos;
  font-weight: 100;
  z-index: 1000;
  a {
    text-decoration: underline;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.lang {
  display: none !important;
}


/* Animação scroll */

.js-scroll {
  opacity: 0;
  transform: translate3d(-50px, 0, 0);
  transition: 1s;
}

.js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 991px) {
  .js-scroll {
    transform: translate3d(50px, 0, 0);
  }
}
