.beneficios {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: $fundo;
}

.container-beneficios {
  width: 74%;
  height: 100%;
  margin-right: -7rem;
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.beneficios-title {
  color: $preto;
  font-size: 24px;
  font-family: $nexaBold;
  width: 60%;
  position: absolute;
  left: 20px;
  @media screen and(max-width: 991px) {
    font-size: 18px;
    width: 40%;
  }
  @media screen and(max-width: 768px) {
    width: 60%;
  }
  @media screen and(max-width: 580px) {
    width: 100%;
    position: relative;
  }
}

.galery {
  display: flex;
  height: 70vh;
  max-width: 70vw;
  width: 100%;
  gap: 5px;
  margin: 10% auto;
  @media screen and(max-width: 800px) {
    max-width: 100%;
  }
  @media screen and(max-width: 500px) {
    height: 90vh;
  }
}

.galery > div {
  flex: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}

.galery > div:hover {
  flex: 5;
}

.descricao-div {
  background-color: rgba($color: $preto, $alpha: 0.6);
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  h3 {
    position: relative;
    color: rgba($color: $branco, $alpha: 0.6);
    font-size: 12px;
    letter-spacing: 1.5px;
    font-family: $nexaBold;
    padding-bottom: 5px;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 150px;
      height: 2px;
      background-color: $verde;
    }
  }
  p {
    color: $branco;
    margin-top: 10px;
    font-size: 16px;
    letter-spacing: 1.5px;
    font-family: $nexaBold;
    display: none;
    transition: 0.8s;
  }
}
.descricao-div .p2-galery {
  font-family: $titulos;
}

.descricao-div:hover h3::before {
  background-color: $branco;
}

.descricao-div:hover p {
  display: block;
}

@media screen and (max-width: 991px) {
  .container-beneficios {
    margin: 0;
    width: 90%;
  }
}
