header {
  position: fixed;
  width: 100vw;
  height: 4em;
  display: flex;
  align-items: center;
  padding: 15px 30px;
  color: $branco;
  z-index: 4;
  @media screen and (max-width: 900px) {
    // background-color: #fff;
  }
}

header .logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 50px;
}

.logo a {
  font-family: $titulos;
  font-size: 2em;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  cursor: pointer;
}
