header {
  position: fixed;
  width: 100vw;
  height: 3em;
  display: flex;
  align-items: center;
  padding: 0 30px;
  color: $branco;
  z-index: 3;
}

header .logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 50px;
}

.logo a {
  font-family: $titulos;
  font-size: 2em;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  cursor: pointer;
  z-index: 5;
}
