.navBar {
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 10px 30px 0 30px;
  height: 100vh;
  border-left: 1px solid #555;
}

.navBar div {
  width: 50px;
  height: 1px;
  background-color: $branco;
  margin: 9px;
  transition: 0.8s;
}

.navList {
  position: fixed;
  top: 0;
  right: 0;
  width: 55vw;
  height: 99vh;
  background-color: rgba(14, 13, 13, 0.89);
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}

.navList li {
  margin-top: 2em;
  margin-left: 30px;
}

.nav-List {
  position: fixed;
  height: 100vh;
  top: 0;
  padding: 0 50px 0 0;
  z-index: 2;
  border-right: 1px solid #555;
  text-align: left;
}


.nav-List ul {
  list-style: none;
  margin-left: 1.5em;
  margin-top: 15em;
}

.nav-List ul li {
  margin-top: 0.5em;
}

.nav-List ul a,
.navList ul a {
  position: relative;
  letter-spacing: 0.1rem;
  font-family: $titulos;
  opacity: 0.7;
  transition: all 0.5s;
  color: $branco;
  &:hover {
    opacity: 1;
  }
}

.line{
  width: 100%;
  height: 2px;
  background-color: $branco;
  position: absolute;
  display: inline-block;
  bottom: -1px;
  left: 0;
  opacity: 0.7;
  transform:  scaleX(0);
  transform-origin: left;
  transition:  transform 0.5s;
}
.nav-List li:hover .line{
  transform: scaleX(1);
  opacity: 1;
}


@media screen and (max-width: 991px) {
  .nav-List li {
    margin-left: 0;
    opacity: 0;
  }

  .nav-List {
    z-index: 0;
    border: none;
  }

  .navBar{
    border: none;
  }
}

/* Nav Bar */
.navList.active {
  transform: translateX(0);
}
.navBar.active .line1 {
  transform: rotate(-50deg) translate(-8px, 8px);
}
.navBar.active .line2 {
  opacity: 0;
}
.navBar.active .line3 {
  transform: rotate(50deg) translate(-4px, -5px);
}
