.sistema {
  height: 100%;
  background-color: $branco;
  z-index: 1;
  position: relative;
}

.content-sitema {
  width: 73vw;
  min-height: 100vh;
  margin: 0 0 0 15em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.sistema h3,
.sistema h2 {
  color: $verde2;
}
.sistema p {
  color: $verde;
}

.sistema1 {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sistema1 hr {
  height: 150px;
  border: 0.3px solid $verde;
  opacity: 0.3;
}

.sistema1 h3 {
  width: 50%;
  padding: 0 30px;
  font-size: 2em;
}

.sistema1 p {
  width: 50%;
  padding: 0 30px;
}

.sistema2 {
  height: 30%;
  display: flex;
  padding-top: 20px;
  gap: 20px;
}

.sistema2 div {
  width: 40%;
  padding: 10px;
}

.sistema2 h3 {
  border-bottom: 0.5px solid rgba($color: $verde, $alpha: 0.5);
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.sistema3 {
  height: 30%;
  display: flex;
  justify-content: right;
}

.sistema3 div {
  width: 40%;
  padding: 10px;
}

.sistema3 h3 {
  border-bottom: 0.5px solid rgba($color: $verde, $alpha: 0.5);
  margin-bottom: 20px;
  padding-bottom: 10px;
}

#h2-second{
  text-align: center;
  margin-top: 4rem;
}

.slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  @media screen and(max-width: 768px) {
    height: 70vh;
    width: 90vw;
  }
  @media screen and(max-width: 540px) {
    height: 40vh;
  }
}

.slider--width {
  height: 100%;
  display: flex;
  transition: all ease 0.5s;
}

.slider--item {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.slider--controls {
  position: absolute;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider--control {
  width: 20px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  margin: 20px;
  color: $sinza;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.slider--item img{
  width: 50px;
}

.icons hr{
  rotate: 90deg;
  width: 100px;
}

.slider--item .icons{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  float: right;
  height: 75%;
  width: 60%;
  @media screen and (max-width: 620px) {
    font-size: .6rem;
    width: 70%;
  }

}

@media screen and (max-width: 991px) {
  .sistema1,
  .sistema2,
  .sistema3 {
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .content-sitema {
    width: 100vw;
    margin: 0;
  }
}

@media screen and (max-width: 700px) {
  .content-sitema h2 {
    display: block;
    color: $verde2;
    padding: 60px 0 20px 0;
    text-align: center;
    font-size: 1.8em;
  }
  #h2-second {
    font-size: 1rem;
    margin: 0;
  }
  .sistema1,
  .sistema2,
  .sistema3 {
    flex-direction: column;
    height: 100%;
  }
  .sistema1 div,
  .sistema2 div,
  .sistema3 div {
    width: 100%;
  }

  .sistema1 h3,
  .sistema1 p {
    width: 100%;
    padding: 10px;
  }

  .sistema h3 {
    font-size: 1.5em;
  }

  .sistema1 hr {
    display: none;
  }

  .content-sitema {
    width: 90vw;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
}
