.sistema {
  height: 100%;
  background-color: $fundo;
  z-index: 1;
  position: relative;
}

#nosso-sitema-h2 {
  display: none;
}

.content-sitema {
  width: 73vw;
  height: 100%;
  margin: 0 0 0 15em;
  display: flex;
  flex-direction: column;
}

#lunazu-e-voce {
  color: $branco;
  font-size: 70px;
  position: absolute;
  font-family: $nexaBold !important;
  left: 35%;
  top: 30%;
  @media screen and(max-width: 991px) {
    display: none;
  }
}

.sistemas {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0 10px 0;
}

.sistema h3,
.sistema h2 {
  color: $preto;
}

.sistema p {
  color: $preto;
}

.sistema1 h3,
.sistema2 h3,
.sistema3 h3 {
  font-family: $nexaBold;
}

.sistema1 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sistema1 hr {
  height: 150px;
  border: 0.3px solid $verde;
  opacity: 0.3;
}

.sistema1 h3 {
  width: 50%;
  padding: 0 30px;
  font-size: 25px;
}

.sistema1 p {
  width: 50%;
  padding: 0 30px;
  font-size: 16px;
}

.sistema2 {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 20px;
  gap: 100px;
}

.sistema2 div {
  width: 30%;
  padding: 10px;
}

.sistema2 h3 {
  border-bottom: 0.5px solid rgba($color: $verde, $alpha: 0.5);
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 16px;
}

.sistema2 p {
  font-size: 14px;
}

.sistema3 {
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: right;
  gap: 80px;
}

.sistema3 div {
  width: 40%;
  padding: 10px 30px;
}

.sistema3 h3 {
  border-bottom: 0.5px solid rgba($color: $verde, $alpha: 0.5);
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 16px;
}

.sistema3 p {
  font-size: 14px;
}

#h2-second {
  text-align: center;
  margin-top: 4rem;
}

@media screen and (max-width: 991px) {
  .sistema1,
  .sistema2,
  .sistema3 {
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .sistemas {
    height: auto;
    justify-content: center;
    padding: 35px 0 30px 0;
  }
  .content-sitema {
    width: 100vw;
    margin: 0;
  }
}

@media screen and (max-width: 700px) {
  #h2-second {
    font-size: 1rem;
    margin: 0;
  }

  #nosso-sitema-h2 {
    display: block;
    text-align: center;
  }

  .sistemas {
    gap: 10px;
  }

  .sistema1,
  .sistema2,
  .sistema3 {
    flex-direction: column;
    height: 100%;
    width: 90vw;
    align-items: center;
    gap: 0;
  }
  .sistema1 div,
  .sistema2 div,
  .sistema3 div {
    width: 100%;
    padding: 10px;
  }

  .sistema1 h3,
  .sistema1 p {
    width: 100%;
    padding: 10px;
  }

  .sistema h3 {
    font-size: 1.5em;
  }

  .sistema1 hr {
    display: none;
  }

  .content-sitema {
    width: 90vw;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
}
