.sistema {
  height: 100%;
  background-color: $branco;
  z-index: 1;
  position: relative;
}

.content-sitema {
  width: 73vw;
  min-height: 100vh;
  margin: 0 0 0 15em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.sistema h3, .sistema h2 {
  color: $verde2;
}
.sistema p {
  color: $verde;
}

.sistema1 {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sistema1 hr {
  height: 150px;
  border: 0.3px solid $verde;
  opacity: 0.3;
}

.sistema1 h3 {
  width: 50%;
  padding: 0 30px;
  font-size: 2em;
}

.sistema1 p {
  width: 50%;
  padding: 0 30px;
}

.sistema2 {
  height: 30%;
  display: flex;
  padding-top: 20px;
  gap: 20px;
}

.sistema2 div {
  width: 40%;
  padding: 10px;
}

.sistema2 h3 {
  border-bottom: 0.5px solid rgba($color: $verde, $alpha: .5);
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.sistema3 {
  height: 30%;
  display: flex;
  justify-content: right;
}

.sistema3 div {
  width: 40%;
  padding: 10px;
}

.sistema3 h3 {
  border-bottom: 0.5px solid  rgba($color: $verde, $alpha: .5);
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.carrosel{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider {
  width: 100%;
  display: flex;
  height: 20rem;
  max-width: 70vw;
  gap: 1rem;
  margin: 4rem auto;
  padding: .5rem;
  cursor: pointer;
  @media screen and(max-width: 800px) {
    max-width: 100vw;
    margin: 1rem auto;
  }
  @media screen and(max-width: 500px) {
    margin: auto;
  }
 }

.slider > div {
  flex: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
  border: 1px solid $verde;
  @media screen and(max-width: 991px) {
    background-size: cover;
    
  }
}
.slider > div:hover{
  flex: 5;
  @media screen and(max-width: 991px) {
    background-size: contain;
  }
}

.slider > div:hover .icon{
  opacity: 1;
}


.icon {
  width: 100%;
  height: 100%;
  min-width: 350px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: end;
  padding-bottom: 10px;
  margin:  0 auto;
  opacity: 1;
  @media screen and(max-width: 500px) {
    gap: 10px;
    
  }
}

.icon p{
  width: 50%;
  @media screen and (max-width: 800px) {
    font-size: .5rem;
    padding-bottom: 1rem;
  }
}

.div1 :nth-child(1) p{
  padding-bottom: 1rem;
}

.icon-img {
  width: 50%;
  text-align: right;

}

.icon-hr {
  height: 60px;
   @media screen and (max-width: 800px) {
    height: 40px;
  }
}

.icon img{
  width: 50px;
  @media screen and (max-width: 800px) {
    width: 30px;
}
}



@media screen and (max-width: 991px) {
  .sistema1,
  .sistema2,
  .sistema3 {
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .content-sitema {
    width: 100vw;
    margin: 0;
  }
}

@media screen and (max-width: 700px) {
  .content-sitema h2{
    display: block;
    color: $verde2;
    padding: 60px 0 20px 0;
    text-align: center;
    font-size: 1.8em;
  }
  .sistema1,
  .sistema2,
  .sistema3 {
    flex-direction: column;
    height: 100%;
  }
  .sistema1 div,
  .sistema2 div,
  .sistema3 div {
    width: 100%;
  }

  .sistema1 h3,
  .sistema1 p {
    width: 100%;
    padding: 10px;
  }

  .sistema h3 {
    font-size: 1.5em;
  }

  .sistema1 hr {
    display: none;
  }

  .content-sitema {
    width: 90vw;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
}
