.sobre {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url(../assets/img/colheita.jpg);
  background-size: cover;
  background-position: 70%;
  object-fit: cover;
  z-index: 1;
  display: flex;
  animation: animeBackground 50s alternate infinite;
}

.content-sobre {
  background-color: rgba(0, 0, 0, 0.397);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.description {
  width: 73%;
  height: 400px;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: -7em;
}

.description .texto {
  width: 48%;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  gap: 10px;
}
.description p {
  overflow: hidden;
  letter-spacing: 1px;
  color: $branco;
  font-family: $textos;
  font-weight: normal;
}

#btn-sobre {
  margin-top: 1em;
  width: 13em;
  padding: 0.6em;
  border-radius: 20px;
  border: 1px solid $branco;
  background: none;
  font-family: $titulos !important;
  letter-spacing: 1px;
  color: $branco;
  cursor: pointer;
  transition: all 1s;
  &:hover {
    background-color: rgba(255, 255, 255, 0.322);
  }
}

.links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: -5em;
  overflow: hidden;
}

.links a{
  height: 5em;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 1s;
  border: 0.1em solid rgba(255, 255, 255, 0.26);
  font-family: $textos;
  color: $branco;
  &:hover {
    background-color: rgba(255, 255, 255, 0.322);
  }
}


@media screen and (min-width: 1380px) {
  .description {
    padding: 0%;
    width: 65%;
    margin-left: -3em;
  }

  .links {
    width: 69%;
    margin-right: -2em;
  }
}

@media screen and (max-width: 991px) {
  .sobre {
    animation: animeBackground 20s alternate infinite;
  }
  .content-sobre {
    width: 100vw;
    height: 100vh;
    justify-content: center;
  }

  .description {
    width: 100%;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .description .texto {
    width: 70%;
  }

  .description h2 {
    margin: 0;
  }

  .links {
    width: 100%;
    justify-content: none;
    margin: 0;
    padding: 1em;
  }

  .links a {
    border: 0.1em solid rgba(255, 255, 255, 0.26);
  }
}

@media screen and (max-width: 500px) {
  .sobre {
    animation: animeBackground 100s alternate infinite;
  }

  .description {
    margin: 0;
    padding: 1em;
    height: auto;
  }

  .description .texto {
    width: 90%;
    font-size: 0.8em;
  }
  .links {
    width: 100%;
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .links a {
    justify-content: flex-start;
    padding-left: 10px;
  }

  .links :nth-child(4) {
    width: 90%;
  }
  .links :nth-child(3) {
    width: 80%;
  }
  .links :nth-child(2) {
    width: 70%;
  }
}

/* animação bacground sobre */
@keyframes animeBackground {
  0% {
    background-position: 0, 0;
  }
  100% {
    background-position: 100% 0, 100% 0;
  }
}
