.sobre {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url(../assets/img/section-sobre.jpg);
  background-size: cover;
  background-position: 70%;
  object-fit: cover;
  z-index: 1;
  display: flex;
  animation: animeBackground 50s alternate infinite;
}

.content-sobre {
  background-color: rgba(0, 0, 0, 0.397);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.description {
  width: 73%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -7em;
  margin-top: 0;
}

#h2-desktop{
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: center;
}

#h2-mobile{
  display: none;
}

.description hr{
  width: .5px;
  height: 300px;
  position: absolute;
  left: 50%;
}

.description .texto {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.description p {
  overflow: hidden;
  letter-spacing: 1px;
  color: $branco;
  font-size: 16px;
  font-family: $textos;
  font-weight: normal;
  width: 90%;
}

#btn-sobre {
  margin-top: 1em;
  width: 210px;
  padding: .4rem;
  border-radius: 20px;
  border: 1px solid $branco;
  font-family: $titulos !important;
  color: $branco;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 1s;
  &:hover {
    background-color: rgba(255, 255, 255, 0.322);
  }
}

.links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: -5em;
  overflow: hidden;
}

.links a{
  height: 5em;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 1s;
  border: 0.1em solid rgba(255, 255, 255, 0.26);
  font-family: $textos;
  color: $branco;
  letter-spacing: 1.5px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.322);
  }
  img{
    width: 25px;
    margin-right: 10px;
  }
}


@media screen and (min-width: 1380px) {
  .description {
    padding: 0%;
    width: 65%;
    margin-left: -3em;
  }

  .links {
    width: 69%;
    margin-right: -2em;
  }
}

@media screen and (max-width: 991px) {
  .sobre {
    animation: animeBackground 20s alternate infinite;
  }
  .content-sobre {
    width: 100vw;
    height: 100vh;
    justify-content: center;
  }

  .description {
    width: 100%;
    padding: 0;
  }

  .description .texto {
    width: 70%;
  }

  .description hr {
    left: 40%;
  }

  .links {
    width: 100%;
    justify-content: none;
    margin: 0;
    padding: 1em;
  }

  .links a {
    border: 0.1em solid rgba(255, 255, 255, 0.26);
  }
}

@media screen and (max-width: 600px) {
  .sobre {
    animation: animeBackground 100s alternate infinite;
  }

  .description {
    margin: 0;
    padding: 0;
    height: auto;
    flex-direction: column;
  }

  .description hr {
    display: none;
  }

  #h2-desktop{
    display: none;
  }
  
  #h2-mobile{
    display: block;
    font-size: 18px;
    letter-spacing: 1.2px;
    padding: 40px 0 15px 0;
    width: 90vw;
    text-align: center;
  }
  
  .description .texto {
    width: 90%;
    p{
      width: 100%;
      height: auto;
    }
  }
  .links {
    width: 100%;
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .links a {
    justify-content: flex-start;
    padding-left: 10px;
    height: 4rem;
  }

  .links :nth-child(4) {
    width: 90%;
  }
  .links :nth-child(3) {
    width: 80%;
  }
  .links :nth-child(2) {
    width: 70%;
  }
}

/* animação bacground sobre */
@keyframes animeBackground {
  0% {
    background-position: 0, 0;
  }
  100% {
    background-position: 100% 0, 100% 0;
  }
}
