.solucoes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: $fundo;
}

.content-solucoes {
  background-image: url(../assets/img/fundo-solucoes.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 100%;
  width: 74%;
  height: 100vh;
  min-height: 100vh;
  margin-right: -6rem;
  display: flex;
  align-items: center;
  @media screen and (max-width: 600px) {
    flex-direction: column;
    padding: 0;
    height: 100%;
    background-position: 90% -10%;
  }
}

.solucoes-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 100%;
  padding: 20px;
  z-index: 1;
  @media screen and (max-width: 991px) {
    width: 60%;
  }
  @media screen and (max-width: 600px) {
    width: 100vw;
    height: auto;
    padding: 20px;
    margin: 0;
  }
}

.solucoes-description h4 {
  color: $preto;
  font-size: 30px;
  font-family: $nexaBold;
}

.solucoes-description p {
  color: $preto;
  font-size: 16px;
  margin-top: 40px;
  font-family: $titulos;
  @media screen and (max-width: 600px) {
    margin-top: 20px;
  }
}


@media screen and (max-width: 991px) {
  .content-solucoes {
    width: 90vw;
    margin: 10px 0;
  }
}
