// Cores
$verde: #5c8a71;
$verde2: #156138;
$fundo: #f4f8f6;
$sinza: #4f4f4f;
$amarelo: #ffd771;
$branco: #fff;
$preto: #000;


// Fontes

@font-face {
  font-family: 'Omega';
  src: url('../assets/fontes/Omega+Sans+Regular.ttf') format("truetype"); 
}

@font-face {
  font-family: 'NexaLight';
  src: url('../assets/fontes/NexaLight.otf') format("opentype");
}

@font-face {
  font-family: 'NexaBold';
  src: url('../assets/fontes/NexaBold.otf') format("opentype");
   font-weight: bold; font-style: normal;
}

$nexaBold: 'NexaBold';
$textos: "NexaLight";
$titulos: 'Omega';