// Cores
$verde: #5c8a71;
$verde2: #156138;
$sinza: #4f4f4f;
$amarelo: #ffd771;
$branco: #fff;
$preto: #000;

// Fontes

// fontes

@font-face {
  font-family: 'Omega';
  src: url('../../assets/fontes/Omega+Sans+Regular.ttf') format("truetype"); 
}

@font-face {
  font-family: 'NexaLight';
  src: url('../../assets/fontes/NexaLight.otf') format("opentype");
}

$textos: "NexaLight";
$titulos: 'Omega';