@import "var-e-mix";
@import "all";
@import "header";
@import "nav-bar";
@import "topo";
@import "sobre";
@import "sistema";
@import "beneficio";
@import "planos";
@import "contato";
@import "pecuaria";


// fontes
@import url(../../assets/fontes/Omega+Sans+Regular.ttf);
@import url(../../assets/fontes/NexaBold.otf);
@import url(../../assets/fontes/NexaLight.otf);

@font-face {
  font-family: 'Omega';
  src: local('Custon font');
  src: url('../../assets/fontes/Omega+Sans+Regular.ttf') format("truetype"); 
}
@font-face {
  font-family: 'NexaBolde';
  src: url('../../assets/fontes/NexaBold.otf') format("opentype");
}
@font-face {
  font-family: 'NexaLight';
  src: url('../../assets/fontes/NexaLight.otf') format("opentype");
}