@import "var-e-mix";
@import "all";
@import "header";
@import "nav-bar";
@import "topo";
@import "sobre";
@import "sistema";
@import "beneficio";
@import "planos";
@import "contato";
@import "pecuaria";


// fontes

@font-face {
  font-family: 'Omega';
  src: url('../../assets/fontes/Omega+Sans+Regular.ttf') format("truetype"); font-weight: normal; font-style: normal;
}
@font-face {
  font-family: 'NexaBolde';
  src: url('../../assets/fontes/Nexa\ Bold.otf') format("opentype");
}
@font-face {
  font-family: 'NexaLight';
  src: url('../../assets/fontes/Nexa\ Light.otf') format("opentype");
}